html, body {
  height: 100%;
  margin: 0;
  background-color: #000;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* 메뉴 클릭 시 부드럽게 이동 */
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;  /* 가로 중앙 정렬 */
  align-items: center;      /* 세로 중앙 정렬 */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  z-index: 100;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 1rem;
    transition: color 0.3s;
}

.menu a:hover {
    color: #5ebfcb;
}

.text_title {
  color: #ffffff;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  transform: translateY(-100px);
  letter-spacing: 1px;
  text-shadow:
    0 2px 6px rgba(0, 0, 0, 0.9),   /* 가장 가까운 진한 그림자 */
    0 6px 18px rgba(0, 0, 0, 0.45), /* 중간 번짐 */
    0 12px 40px rgba(0, 0, 0, 0.25); /* 멀리 퍼지는 그림자 */
  font-family: "Noto Sans KR", sans-serif;
}

.background_main {
  width: 100%;
  height: 100vh;                 /* 화면 높이 */
  text-align: center;
  display: grid;                 /* 가운데 정렬 */
  place-items: center;
  background-image: url("../images/moon1.jpg");
  background-size: cover;        /* 꽉 채움 */
  background-position: center;   /* 가운데 정렬 */
  background-repeat: no-repeat;  /* 반복 없음 */
}

.background_story {
  width: 100%;
  height: 100vh;                 /* 화면 높이 */
  text-align: center;
  display: grid;                 /* 가운데 정렬 */
  place-items: center;
  background-image: url("../images/.jpg");
  background-size: cover;        /* 꽉 채움 */
  background-position: center;   /* 가운데 정렬 */
  background-repeat: no-repeat;  /* 반복 없음 */
}